@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 4rem;
}

header>div {
  font-weight: 700;
  text-transform: uppercase;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header a:hover {
  color: #ffe81f;
}

header,
main {
  max-width: 48rem;
  margin: 0 auto;
}

h1 {
  color: #ffe81f;
}

p {
  margin-top: 1rem;
}

img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-top: 1rem;
}

li {
  flex: 0 1 15.33rem;
}

li > a {
  border: 2px solid var(--foreground);
  border-radius: 8px;
  display: block;
  padding: 1rem;
}

.btn {
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  min-height: 3rem;
  padding: .625rem 1.25rem;
  width: max-content;
  min-width: 12rem;
}
